html(lang="en")
  head
    title Document
  body
      h2 #{movie_detail.title}
      p #{movie_detail.summary}
      ul
          li rating : #{movie_detail.rating}
          li year : #{movie_detail.year}